<% provide :title, "Home" %>

<div class="container">
<div class="col-md-8 col-md-offset-2">
      <% if signed_in? %>
      
          <% @posts.each do |post| %>
          
            <div class="feed-post">
            <a href="/users/<%= post.user_id %>"><%= image_tag post.user.avatar , class:"feed-avatar" %><%= post.user.login %></a>  
            
            <%= image_tag post.image, class:"img-responsive feed-img" %>
            <p><%= post.description %></p>
            </div>
      <% end %> 
</div>
  <% else %>
    <%= render "sessions/form" %>
  <% end %>
</div>