<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: sessions_path,
        method: :post do |f| %>
        <div class="form-group">
          <%= f.text_field :login, placeholder: "Login", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>
