<ul class="list-group">
  <% @users.each do |user| %>
    <li class="list-group-item">
         <%= image_tag user.avatar.url(:thumb),  class: "img-circle" %>
         <%= link_to user.login, user %>
         <button class="btn btn-primary follow">Follow</button>
    </li>
  <% end %>
</ul>
