<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <div class="form-group">
  <%= f.text_field :login, class="form-control" %>
    </div>
    <div class="form-group">
  <%= f.text_field :email , class="form-control"%>
    </div>
    <div class="form-group">
  <%= f.password_field :password , class="form-control"%>
    </div>
    <div class="form-group">
  <%= f.file_field :avatar, class="form-control" %>
  </div>
  <%= f.submit "Sign up" %>
<% end %>
