<h2><%= @user.login %></h2>
<%= image_tag @user.avatar.url(:thumb), class:"img-circle" %>
<% if current_user? @user %>
  <%= link_to 'Edit Profile', edit_user_path(current_user) %>
  <%= @user.followers.count %>
<% else %>
  <div class="follow_status">
    <%= render "partials/follow_status" %>
  </div>
<% end %>
<div class="container">
  <% @posts.in_groups_of(3, false).each do |group| %>
    <div class="row">
        <% group.each do |post| %>
          <div class="col">
            <%= image_tag post.image, class:"post_image" %>
            <div class="overlay">
              <p><%= post.description %></p>
            </div>
            </div>
        <% end %>
    </div>
  <% end %>
</div>
