/*
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$special-pink: #e09c9c;

.navbar-custom {
  background: pink;

  li a:hover {
    background: $special-pink;
  }

  a:hover {
    color: red;
  }
}

.follow {
  float: right;
}

.profile img {
  width: 100px;
}
.post_image {
  width: 300px;
  height: 300px;
  background-size:cover;
}

.col {
   margin: 15px 15px;
   position: relative;
   float:left;
}
.feed-post
{
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin:auto;
  margin-bottom: 50px;
  background-color: white;
}
.feed-post img
{
  width: 100%;
}

.feed-avatar{
  display: inline-block;
}
